.option {
    display: flex;
    gap: 5rem;
    margin: 24px 0;
}

.option div {
    display: flex;
    align-items: center;
}

.option label {
    font-size: 24px;
}

.option input {
    height: 2rem;
    width: 2rem;
}